<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.chen.dramatic_tickets">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_movie_pink_400_24dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true">
        <activity android:name=".StartPoster"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".MainPage.HomeActivity"></activity>
        <activity android:name=".LoginAndRegister.SignUpActivity"></activity>
        <activity android:name=".LoginAndRegister.SignInActivity"></activity>
        <activity android:name=".ChooseActivity.MovieDetail"></activity>
        <activity android:name=".ChooseActivity.ChooseCinema"></activity>
        <activity android:name=".ChooseSession.ChooseSessionActivity"></activity>
        <activity android:name=".ChooseSeat.ChooseSeatActivity"></activity>
        <activity android:name=".PayActivity.ConfirmOrder"></activity>
        <activity android:name=".PayActivity.PaymentSuccess"></activity>
        <activity android:name=".ChooseActivity.notShowMovieDetail"></activity>
        <activity android:name=".ChooseActivity.ChooseMovie"></activity>
        <activity android:name=".LoginAndRegister.LoginOrRegister"></activity>
        <activity android:name=".SearchActivity.MovieListActivity"></activity>
        <activity android:name=".SearchActivity.CinemaListActivity"></activity>
        <activity android:name=".PersonalHistory.PersonalTicketDetail"></activity>
        <activity android:name=".PersonalHistory.PersonalTicketHistory"></activity>

    </application>

</manifest>